---
title: 首页
layout: page
---

<div class="post-list">
<ul>
	{% for post in paginator.posts %}
	  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
	  {% if year != y %}
	    {% assign year = y %}
	    <li><h2>{{ y }}</h2></li>
	  {% endif %}
		  <li>
				<time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
		    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		  </li>
	{% endfor %}
</ul>
</div>

<nav class="page-nav">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
	<a href="/">前一页</a>
		{% else %}
	<a href="/page{{paginator.previous_page}}">前一页</a>
		{% endif %}
	{% else %}
	<a href="/#" class="disabled">前一页</a>
	{% endif %}

	{% if paginator.page == 1 %}
	<a href="/" class="current">{{paginator.page}}</a>
	{% else %}
	<a href="/">{{paginator.page}}</a>
	{% endif %}

	{% for count in (2..paginator.total_pages) %}
		{% if count == paginator.page %}
	<a href="/page{{count}}" class="current">{{count}}</a>
		{% else %}
	<a href="/page{{count}}">{{count}}</a>
		{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
	<a href="/page{{paginator.next_page}}">后一页</a>
	{% else %}
	<a href="#" class="disabled">后一页</a>
	{% endif %}
</nav>
