---
title: 首页
layout: page
---

<div class="container-fluid">
<table class="table table-hover">
	<tbody>
{% for post in paginator.posts %}
  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
  {% if year != y %}
    {% assign year = y %}
    <tr class="active"><td><h2>{{ y }}</h2></td><td></td></tr>
  {% endif %}
  <tr>
		<td><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time></td>
    <td><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></td>
    {% if site.truncate %}
		<!-- 如果_config.yml中设置了truncate，显示该值指定长度的字符作为内容预览 -->
    <p>{{ post.content | strip_html | truncate: site.truncate }}</p>
    {% endif%}
  </tr>
{% endfor %}
</tbody>
</table>
</div>

<nav>
	<ul class="pager">
		{% if paginator.previous_page %}
			<li class="previous">
		    {% if paginator.previous_page == 1 %}
		    <a href="/">前一页</a>
		    {% else %}
		    <a href="/page{{paginator.previous_page}}">前一页</a>
		    {% endif %}
			</li>
		{% else %}
			<li class="previous disabled">
		    <a href="#">前一页</a>
			</li>
		{% endif %}

    {% if paginator.page == 1 %}
    <span class="current-page">1</span>
    {% else %}
    <a href="/">1</a>
    {% endif %}

  	{% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
  	{% endfor %}

	  {% if paginator.next_page %}
			<li class="next">
	    	<a href="/page{{paginator.next_page}}">后一页</a>
			</li>
	  {% else %}
	    <li class="next disabled">
				<a href="#">后一页</a>
			</li>
	  {% endif %}
	</ul>
</nav>
