<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ site.author.name }}">
{% if site.site.keywords %}
<meta name="keywords" content="{{ site.site.keywords }}">
{% endif %}
{% if site.site.description %}
<meta name="description" content="{{ site.site.description }}">
{% endif %}
<link rel="shortcut icon" href="{{ site.site.favicon }}" />
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/lightbox.min.css">
<link rel="stylesheet" href="/public/css/highlight.css">
<link rel="stylesheet" href="/public/css/addon-style.css">
<title>{{ site.site.title }}|{{ site.site.description }}</title>
