<meta charset="utf-8">
<title>{{ page.title }}|{{ site.site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description %}
	<meta name="description" content="{{ page.description }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ site.site.favicon }}" />
<link rel="stylesheet" href="/public/css/bootsrap.min.css">
<link rel="stylesheet" href="/public/css/highlight.css">
