---
title: 标签
layout: page
---

<div id='tag_cloud'>
<ul class="nav nav-pills" role="tablist">
{% for tag in site.tags %}
	<li class="active" role="presentation">
		<a href="#{{ tag[0] }}">{{ tag[0] }}</a>
	</li>
{% endfor %}
</ul>
</div>

<div class="container-fluid">
<ul class="list-unstyled">
{% for tag in site.tags %}
  <li><h2 id="{{ tag[0] }}">{{ tag[0] }}</h2></li>
{% for post in tag[1] %}
  <li>
  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
{% endfor %}
{% endfor %}
</ul>
</div>
