<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ site.name }} &middot; {{ page.title }} [Bit by Bit, Step by Step.]</title>
<meta name="viewport" content="width=device-width">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/public/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/public/css/main.css">

</head>
<body>

<div class="site">
	<div class="left">
		<div class="header">
			<a href="/">
				<img src="/public/images/withlove.png" />
			</a>
			<a href="/">
				<span class="L">L</span>
				<span class="and">&amp;</span>
				<span class="Z">Z</span>
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div>
		<div class="footer">
			<div class="contact">
				<div class="fc_left">
					<p>Git<br />Twitter</p>
				</div>
				<div class="fc_right">
					<p><a href="https://github.com/iceway">github.com/iceway</a>
					<br />
					<a href="https://twitter.com/iceway">twitter.com/iceway</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="right">
		{{ content }}
	</div>
</div>

</body>
</html>
