---
layout: base
---
<header class="post-header">
	<h1 class="post-title">{{ page.title }}</h1>
</header>

<!-- 文章属性：创建日期、所属分类、所属标签 -->
<section class="post-meta">
	<span>
		<time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
	</span>
	{% if page.categories.size != 0 %}
	<span>|</span>
	<span> {{ site.locals.category }}
	{% for cate in page.categories %}
		<a href="/pages/category.html#{{ cate }}" title="{{ cate }}">{{ cate }}</a>
	{% endfor %}
	</span>
	{% endif %}
	{% if page.tags.size != 0 %}
	<span>|</span>
	<span> {{ site.locals.tag }}
	{% for tag in page.tags %}
		<a href="/pages/tag.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
	{% endfor %}
	</span>
	{% endif %}
</section>

<!-- 文章内容 -->
<section class="post-content">
	{{ content }}
</section>
