---
layout: base
---
<header class="content-header">
	<h1>{{ page.title }}</h1>
</header>

<!-- 文章属性：创建日期、所属分类、所属标签 -->
<section class="post-attr">
	<span class="post-time">
		<time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
	</span>
	{% if page.categories.size != 0 %}
	<span class="seperator">|</span>
	<span class="categories"> {{ site.locals.category }}
	{% for cate in page.categories %}
		<a href="/categories/#{{ cate }}" title="{{ cate }}">{{ cate }}</a>
	{% endfor %}
	</span>
	{% endif %}
	{% if page.tags.size != 0 %}
	<span class="separator">|</span>
	<span class="tags"> {{ site.locals.tag }}
	{% for tag in page.tags %}
		<a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
	{% endfor %}
	</span>
	{% endif %}
</section>

<!-- 文章内容 -->
<section class="post-content">
	{{ content }}
</section>

<!-- 文章下方“上一篇/下一篇”链接 -->
<section class="post-previous-next">
	<span>
		<a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >上一篇</a>
		/
		<a {% if page.next %} href="{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >下一篇</a>
	</span>
</section>
